.Header {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    padding: 1rem 2rem;
    height: 2rem;
    background-color: white;
  }
  .scroll{
  position: sticky;
  top: 0;
  translate: 0;
  transition-property:all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  z-index: 10;
  background-color: white;
  
  }
  .Header img{
    margin-left: 2rem;
  }
  .nav {
   display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 28px;
  }
  .nav a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    padding: 1rem;
    border-radius:15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -ms-border-radius:15px;
    -o-border-radius:15px;
  }
  .nav a:hover{
    background-color: var(--secondary);
    font-weight:bolder
  }
  .nav a:focus{
    background-color: var(--secondary);
    font-weight:bolder;
    color: beige;
  }
  
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
    width: 2.2rem;
    height: 2rem;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
  }
  
  .hamburger-menu.open {
    display: none;
  }
  
  .bar {
    width: 2rem;
    height: 0.15rem;
    border-radius: 10px;
    background-color: black;
  }
  .bar_close_1{
    background-color: black;
    position: relative;
    width: 2.9rem;
    height:0.15rem;
    top: 0.65rem;
    right: 0.35rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
  }
  .bar_close_3{
    background-color: black;
    position: relative;
    width: 2.9rem;
    height: 0.15rem;
    top: -0.48rem;
    right: 0.35rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
  }
  .bar_close_2{
    display: none;
  }
  @media (max-width: 970px) {
    .nav {
      display: none;
    }
    .hamburger-menu.open {
    display: flex;
    position: fixed;
   top: 1rem;
   right: 2rem;
  }
  
  .nav.open {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0rem;
      right: 0%;
      background-color: white;
      height:100vh;
      width: 100%;
      padding: 4rem 0;
      justify-content: stretch;
      
  }
  .Header img.open{
   position: fixed;
   top: 1rem;
   z-index: 20;
  }
    .hamburger-menu {
    width: 3rem;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    z-index: 10;
   border: none;
   
   
    background-color: transparent;
    }
    
  }