
.banner{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/reservation/restaurant.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding:2rem 0 2rem 0;
    margin: 0 -15rem;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8rem;
   
}
.card-img{
    background: url("../images/reservation/reserved.jpg") center/cover no-repeat;
    width: 20rem;
}
.banner h2{
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}
.card-content{
    background: #fff;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-content h3{
    text-align: center;
    color: #000;
    font-size:1.9rem;
    font-weight: 500;
    line-height:10px;
}
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.form-row p{
    color:red;
    font-size: 0.9rem;
    margin: 0 ;
    
}
.number-input-container {
  display: flex;
  flex-direction: column;
  margin: 0 -3;
  height: 3rem;
  max-width: 8rem;
}

form .number-input-container{
width: 100%;
margin: 15px 12px;
padding: 5px;
}
form select, form input{
    display: block;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 300;
}
form input[type = text], form input[type = number],form input[type = date], form input::placeholder, select{
    color: #9a9a9a;
   
}
form input[type = submit]:enabled{
    
    background:var(--primary);
}
form input[type = submit]:hover{
    opacity: 0.9;
}
form input[type = submit]{
    padding: 12px 0;
    margin: 1rem;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    color: #fff;
    background-color:rgba(73, 94, 87, 0.5);
    
}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}
